.center_part_play{
  margin-left: 350px; 
  height: 100vh;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  display: flex;
  flex-flow: column;
}
.Playdetails_wrapper{
  height: 120px; 
   min-width: 400px;
    font-size: 20px; 
    border-radius: 30px; 
    background-color: #333333; 
    color: white; 
    border: none; 
    margin-bottom: 20px; 
    display: inline-flex;
    align-items: center;
    justify-self: center; 
}
.play_top{
    display: grid; 
    grid-template-columns: 5fr 1fr; 
    align-items: center; 
    padding: 10px 10px; 
    gap: 0px;
}


.playlist_img{
  width: 100px;
  height: 100px;
  padding: 40px;
  border-radius: 10px;
}
.playlist_name{
  font-size: 30px;
}
.Songs_long{
   display: grid;
	  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	  grid-template-columns: 1fr;
  	
  	align-items: center;
  	grid-auto-rows: auto;
  	gap: 15px;
    padding-left: 100px;
    padding-right: 100px;
}
