.Bio_wrapper{
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 3fr;
    background-color: #444444;
    border-radius: 10px;
    gap: 10px;
    padding: min(5px ,5%);
}
.Bio_wrapper h1{
    justify-self: center;
}
.Social_wrapper{
 display: flex;
 flex-flow: row;
 align-items: center;
 padding: 10px;
 justify-content: center;
}
.Social_wrapper p{
    color:white;
    font-size: 1.5rem;
}
.Bio_Text{
    display: flex;
    flex-wrap: wrap;
}
.Bio_Text p{
    font-size: 1rem;
}
.center_middle{
    display: grid;
    grid-template-rows: 0.5fr 3fr 1fr 2fr ;
}
.profile_pic{
    justify-self: center;
    width: 20vw;
    border-radius: 50%;
}
.Follow_details{
    display: flex;
    flex-flow: row;
    gap: 10vw;
}
.profile_details h2{
    font-size: 2rem;
}
.Follow_details p{
    font-size: 1rem;
}
.Edit_profile{
    background-color: #292929; 
    color: white; 
    border: none; 
    cursor: pointer; 
}
.friends{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.friends img{
    border-radius: 50%;
}
h2{
    color: white;
}
h1{
    color:white;
}
p{
    color: white;
}