.leftbar{
    height: 100vh;
    background-color: #425d53c6;
    width: 350px;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity:90%;
    
}
.index{
    align-items: center;
    justify-content: center;
	display: flex;
	flex-flow: column nowrap;
}
.homebutton{
    background-color: #292929;
	height: 70px;
    width: 200px;
    border-radius: 10px;
    position: fixed;
    left: 70px;
    top: 20px;
    font-size: 25px;
    border:none;
    color: white;
    cursor: pointer;
}
.playlists{
    position: fixed;
    height: 100vh;
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	gap: 20px;
	top: 100px;
    width: 350px;
}

.Play_text{
    color: white;
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
}



/*.playname{
    position: relative;
    top: 30px;
    left: 30px;
    font-size: 24px;
    color: white;
}.songgroup{
    display: flex;
    flex-direction: row;
    padding-bottom: 70px;
}
.home{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    width: 290px;
    border-radius: 25px;
    font-size: 24px;
    border: none;
}
.home:hover{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(26, 20, 20);
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    width: 290px;
    border-radius: 25px;
    font-size: 24px;
    border: none;
}
