.playlistcardHome{
    display: inline-flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
    justify-content: center;
    background: #333333;
    padding-top: 10px;
    border-radius: 10px;
    width: 180px;
}   
.playlistcardHome img{
    object-fit: contain;
    border-radius: 10px;
    position: relative;
    top: 0px;
}
.playlistcardHome p{
    font-size: 18px;
    color: white;
}
