.Linkprofile 
{
    height: 60px; 
    width: 150px; 
    font-size: 20px; 
    border-radius: 10px; 
    background-color: #292929; 
    color: white; 
    border: none; 
    cursor: pointer; 
    margin-bottom: 20px; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


