.LinkSearch{
    height: 60px; 
    width: 500px; 
    font-size: 20px; 
    border-radius: 30px; 
    background-color: #333333; 
    color: white; 
    border: none; 
    cursor: pointer; 
    margin-bottom: 20px; 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
}
.Searchtext{
    font-size: 20px; 
    padding-left: 20px;
}