.Songcardsmall{
    display: inline-flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background: #333333;
    padding-top: 0px;
    border-radius: 10px;
    width: 250px;
    gap: 2px;
    padding: 5px;
}
.Songcardsmall img{
    object-fit: contain;
    border-radius: 10px;
    position: relative;
    
}
.Songdetails{
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  flex: 1;
}
.singer_name{
    font-size: 15px;
    margin: 0;
  padding-left: 3px;
}
.songname{
    font-size: 20px;
    margin: 0;
    padding: 0;
    
}