.center_top_song{
    display: grid; 
    grid-template-columns: auto 1fr; 
    align-items: center; 
    padding: 10px 20px; 
    gap: 1050px;
}
.center_song_rest{
   display: grid; 
    grid-template-columns: auto 1fr; 

}
.Song_welcome{
    color:  white;
}
.Song_image{
    width: 400px;
    height: 400px;
    border-radius: 50px;
}
